table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}

.nextScheduleM {
  background-color: lightcyan;
  font-weight: bold;
}

.nextScheduleF {
  background-color: rgb(255, 225, 255);
  font-weight: bold;
}
